  <div class= "first-box">
    <div class= "name-display">
      <%= link_to current_user.name, edit_user_path(current_user) %>
    </div>
    <div class= "new-btn">
      <a href= "#" >チャットを作成する</a>
    </div>
  </div>

  <div class= "second-box">
    <div class= "room">
      <div class= "room-name">
        <a href= "#">techroom1</a>
      </div>
    </div>
    <div class= "room">
      <div class= "room-name">
        <a href= "#">techroom2</a>
      </div>
    </div>
  </div>